<div class="container">
  <div class="card-white">
    <h2><%= @task.title %></h2>
    <h2><%= @task.details %></h2>
      <% if @task.completed %>
        <h2>This task is complete!</h2>
      <% else %>
        <h2>This task is not complete!</h2>
      <% end %>
      <%= link_to "Edit", edit_path %>
      <br>
      <%= link_to "Delete", task_path(@task), method: :delete %>
      <br>
      <%= link_to "Return to list", tasks_path %>
  </div>
</div>



